*{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    border: border-box;
}
.navbar{
    height: 60px;
    background-color: #0f1111;
    color: white;

}
.nav-logo{
    padding: 5px 5px;
    height: 50px;
    width: 130px;
    display: flex;
    align-items: center;
    justify-content: center;
}


.logo{
    
    height: 50px;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(amazon_logo.png);
}

.border{
    border: 1.5px solid transparent;

}
.border:hover{
    border: 1.5px solid white;
}