*{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    border: border-box;
}
.navbar{
    height: 60px;
    background-color: #0f1111;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
   
}
.nav-logo{
    padding: 5px 5px;
    height: 50px;
    width: 130px;
    display: flex;
    align-items: center;
    justify-content: center;
}


.logo{
    
    height: 50px;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(amazon_logo.png);
}

.border{
    border: 1.5px solid transparent;

}
.border:hover{
    border: 1.5px solid white;
}

/* box 2 */

.address-first{
    font-size: smaller;
    color: #cccccc;
}
.add-icon{
    display: flex;
}
.address-first{
    margin-left: 20px;
    margin-bottom: 0px;
}
.nav-address{
     
    width: 130px;
    height: 40px;
    display: grid;
    align-items: center;

    
}

/* box3 */
.search-bar{
    height: 40px;
    width: 600px;

    display: flex;
    justify-content: center;
    
    /* border-radius: 3%; */
    
    
    
}

.search-bar:focus-within {
    border: 2px solid orange;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
     border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}
.search-select{
    background-color: #cccccc;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}
.search-select:hover{
    cursor: pointer;
}

.search-input{
    width: 100%;
    font-size: 1rem;
    border: none;
     outline: none;          /* removes the black focus box */
  box-shadow: none;       /* some browsers add shadow */
}

.search-icon{
    height: 40px;
    width: 46px;
     display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    font-size: 1.2rem;
    background-color:#febd68 ;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}
.search-icon:hover{
     cursor: pointer;
      background-color:rgba(209, 119, 8, 0.874) ;
}
/* box4 */

span{
    font-size: 0.75rem;
}
.Accounts{
    font-weight: 600;

}
.sign-in{
    display: flex;
    flex-direction: column;
   padding-left: 10px;
}
.Order{
        font-weight: 600;
}

/* box5 */

.cart{
    width:100 px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;

}
.cartlogo{
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}
.cart-sentence{
     font-weight: 600;
}
.cartlogo i {
    font-size: 36px;   /* increase this value */
}

/* div after the header */

.panel{
    height: 40px;
    background-color: #222f3d;
    display: flex;
    align-items: center;
    color: white;
    justify-content: space-evenly;

}
/* .panel-contents p{
    display: inline;
    margin-left: 15px;
     
    
} */
.panel-contents{
    display: flex;
     margin-left: 15px;
     gap: 20px; 
      

    width: 70%;
    font-size: 0.85rem;
}
.panel-deals{
    font-size: 0.90rem;
    font-weight: 700;
     padding: 5px 14px;
}
.panel-icon{
      padding: 5px 14px; 
}

.panel-contents div {
    padding: 8px 16px;
}

/* hero section */

.hero-section{
    background-image: url("hero_image.jpg");
    height: 350px;
    background-size: cover;
}

.hero-message{
    background-color: white;
    height: 40px;
    width: 95%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 250px;
    font-size: 0.95rem;
    margin-left: 30px;

}
a{
    color: rgb(50, 90, 89);
}

/* box-sesssion */

.box{
    height: 400px;
    width: 23%;
    
    border: 2px solid white;
    background-color: white;
}
.box-section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
     gap: 20px;
     padding-top: 20px;
     /* margin-top: 20px; */
     background-color: #e2e7e6;

}
.image{
    height:320px ;
    width: 95%;
    margin: 10px;
    /* margin-left: 10px;
    margin-right: 15px; */
    /* padding: 20px 0px 15px; */
      background-size: cover;
      background-repeat: no-repeat;
      margin-top: 1rem;
      margin-bottom: 1rem;

    /* display: flex;
    justify-content: center; */

}
/* .box1{
     display: flex;
    flex-direction: column;
} */
.heading{
    font-size: 15px;
    font-weight: bolder;
    padding-left: 15px;
}
.see{
    font-size: smaller;
     padding-left: 15px;
     color: rgb(13, 126, 128);
}
